1. Work for predicting faulty device using Crisp DM model (Supervised classification techniques)

import pandas as pd
import numpy as np
import sklearn
import scipy
from numpy import mean
from numpy import std
import matplotlib.pyplot as plt
import seaborn as sns
LABELS = ["Normal", "Faulty"]
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing
from sklearn import utils
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (10,6)

In [33]:
data_df = pd.read_csv('C:/Users/Dipendra Singh/Desktop/DataSet_CRISP_DM/secom_mod.txt', index_col=0)

In [34]:
data_df.head(n=10)

,ID,class,timestamp,feature001,feature002,feature003,feature004,feature005,feature006,feature007,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
1,1,0,19/07/2008 11:55:00 ...,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
2,2,0,19/07/2008 12:32:00 ...,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
3,3,1,19/07/2008 13:17:00 ...,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
4,4,0,19/07/2008 14:43:00 ...,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
5,5,0,19/07/2008 15:22:00 ...,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
6,6,0,19/07/2008 17:53:00 ...,2946.25,2432.84,2233.3667,1326.5200,1.5334,100.0,100.3967,...,0.0052,44.0077,0.4949,0.0189,0.0044,3.8276,0.0342,0.0151,0.0052,44.0077
7,7,0,19/07/2008 19:44:00 ...,3030.27,2430.12,2230.4222,1463.6606,0.8294,100.0,102.3433,...,NaN,NaN,0.5010,0.0143,0.0042,2.8515,0.0342,0.0151,0.0052,44.0077
8,8,0,19/07/2008 19:45:00 ...,3058.88,2690.15,2248.9000,1004.4692,0.7884,100.0,106.2400,...,0.0063,95.0310,0.4984,0.0106,0.0034,2.1261,0.0204,0.0194,0.0063,95.0310
9,9,0,19/07/2008 20:24:00 ...,2967.68,2600.47,2248.9000,1004.4692,0.7884,100.0,106.2400,...,0.0045,111.6525,0.4993,0.0172,0.0046,3.4456,0.0111,0.0124,0.0045,111.6525
10,10,0,19/07/2008 21:35:00 ...,3016.11,2428.37,2248.9000,1004.4692,0.7884,100.0,106.2400,...,0.0073,90.2294,0.4967,0.0152,0.0038,3.0687,0.0212,0.0191,0.0073,90.2294

In [35]:
data_df.describe()

,ID,class,feature001,feature002,feature003,feature004,feature005,feature006,feature007,feature008,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
count,1567.00000,1567.000000,1561.000000,1560.000000,1553.000000,1553.000000,1553.000000,1553.0,1553.000000,1558.000000,...,618.000000,618.000000,1566.000000,1566.000000,1566.000000,1566.000000,1566.000000,1566.000000,1566.000000,1566.000000
mean,784.00000,0.060625,3014.452896,2495.850231,2200.547318,1396.376627,4.197013,100.0,101.112908,0.121822,...,0.005396,97.934373,0.500096,0.015318,0.003847,3.067826,0.021458,0.016475,0.005283,99.670066
std,452.49825,0.238718,73.621787,80.407705,29.513152,441.691640,56.355540,0.0,6.237214,0.008961,...,0.003116,87.520966,0.003404,0.017180,0.003720,3.578033,0.012358,0.008808,0.002867,93.891919
min,1.00000,0.000000,2743.240000,2158.750000,2060.660000,0.000000,0.681500,100.0,82.131100,0.000000,...,0.001000,0.000000,0.477800,0.006000,0.001700,1.197500,-0.016900,0.003200,0.001000,0.000000
25%,392.50000,0.000000,2966.260000,2452.247500,2181.044400,1081.875800,1.017700,100.0,97.920000,0.121100,...,0.003400,46.184900,0.497900,0.011600,0.003100,2.306500,0.013425,0.010600,0.003300,44.368600
50%,784.00000,0.000000,3011.490000,2499.405000,2201.066700,1285.214400,1.316800,100.0,101.512200,0.122400,...,0.004700,72.288900,0.500200,0.013800,0.003600,2.757650,0.020500,0.014800,0.004600,71.900500
75%,1175.50000,0.000000,3056.650000,2538.822500,2218.055500,1591.223500,1.525700,100.0,104.586700,0.123800,...,0.006475,116.539150,0.502375,0.016500,0.004100,3.295175,0.027600,0.020300,0.006400,114.749700
max,1567.00000,1.000000,3356.350000,2846.440000,2315.266700,3715.041700,1114.536600,100.0,129.252200,0.128600,...,0.028600,737.304800,0.509800,0.476600,0.104500,99.303200,0.102800,0.079900,0.028600,737.304800

In [36]:
data_df.isnull().any()

ID            False
class         False
timestamp     False
feature001     True
feature002     True
              ...
feature586     True
feature587     True
feature588     True
feature589     True
feature590     True
Length: 593, dtype: bool

In [37]:
#Filling Nan with  mean imputation,
data_df.fillna(data_df.mean(),inplace=True)

In [38]:
data_df.drop(columns=['timestamp'],inplace=True)

In [39]:
data_df.dtypes

ID              int64
class           int64
feature001    float64
feature002    float64
feature003    float64
               ...
feature586    float64
feature587    float64
feature588    float64
feature589    float64
feature590    float64
Length: 592, dtype: object

In [40]:
data_df.astype(float)

,ID,class,feature001,feature002,feature003,feature004,feature005,feature006,feature007,feature008,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
1,1.0,0.0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,...,0.005396,97.934373,0.5005,0.0118,0.0035,2.3630,0.021458,0.016475,0.005283,99.670066
2,2.0,0.0,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,...,0.006000,208.204500,0.5019,0.0223,0.0055,4.4447,0.009600,0.020100,0.006000,208.204500
3,3.0,1.0,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,...,0.014800,82.860200,0.4958,0.0157,0.0039,3.1745,0.058400,0.048400,0.014800,82.860200
4,4.0,0.0,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,...,0.004400,73.843200,0.4990,0.0103,0.0025,2.0544,0.020200,0.014900,0.004400,73.843200
5,5.0,0.0,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,...,0.005396,97.934373,0.4800,0.4766,0.1045,99.3032,0.020200,0.014900,0.004400,73.843200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,1563.0,0.0,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,...,0.004700,203.172000,0.4988,0.0143,0.0039,2.8669,0.006800,0.013800,0.004700,203.172000
1564,1564.0,0.0,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,...,0.005396,97.934373,0.4975,0.0131,0.0036,2.6238,0.006800,0.013800,0.004700,203.172000
1565,1565.0,0.0,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,...,0.002500,43.523100,0.4987,0.0153,0.0041,3.0590,0.019700,0.008600,0.002500,43.523100
1566,1566.0,0.0,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,...,0.007500,93.494100,0.5004,0.0178,0.0038,3.5662,0.026200,0.024500,0.007500,93.494100
1567,1567.0,0.0,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,...,0.004500,137.784400,0.4987,0.0181,0.0040,3.6275,0.011700,0.016200,0.004500,137.784400

In [42]:
data_df.isnull().sum().sum()

0

In [43]:
#Check shape of data
data_df.shape

(1567, 592)

In [44]:
#Outlier detection and removal using 3 standard deviation
upper_limit = data_df.mean() + 3*data_df.std()
upper_limit

ID            2141.494751
class            0.776780
feature001    3234.894736
feature002    2736.533610
feature003    2288.690115
                 ...
feature586      13.798498
feature587       0.058521
feature588       0.042889
feature589       0.013882
feature590     381.255875
Length: 592, dtype: float64

In [45]:
lower_limit = data_df.mean() -3*data_df.std()
lower_limit

ID            -573.494751
class           -0.655529
feature001    2794.011055
feature002    2255.166852
feature003    2112.404520
                 ...
feature586      -7.662845
feature587      -0.015604
feature588      -0.009939
feature589      -0.003315
feature590    -181.915743
Length: 592, dtype: float64

In [46]:
data_df[(data_df>upper_limit) | (data_df<lower_limit)]

,ID,class,feature001,feature002,feature003,feature004,feature005,feature006,feature007,feature008,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0148,NaN,NaN,NaN,NaN,NaN,NaN,0.0484,0.0148,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.48,0.4766,0.1045,99.3032,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,NaN,NaN,NaN,NaN,NaN,3085.3781,NaN,NaN,82.2467,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,NaN,NaN,NaN,NaN,NaN,2914.1792,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#Now remove these outliers and generate new dataframe
df_no_outlier_std_dev = data_df[(data_df<upper_limit) & (data_df>lower_limit)]
df_no_outlier_std_dev

,ID,class,feature001,feature002,feature003,feature004,feature005,feature006,feature007,feature008,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
1,1,0.0,3030.93,2564.00,2187.7333,1411.1265,1.3602,NaN,97.6133,0.1242,...,0.005396,97.934373,0.5005,0.0118,0.0035,2.3630,0.021458,0.016475,0.005283,99.670066
2,2,0.0,3095.78,2465.14,2230.4222,1463.6606,0.8294,NaN,102.3433,0.1247,...,0.006000,208.204500,0.5019,0.0223,0.0055,4.4447,0.009600,0.020100,0.006000,208.204500
3,3,NaN,2932.61,2559.94,2186.4111,1698.0172,1.5102,NaN,95.4878,0.1241,...,NaN,82.860200,0.4958,0.0157,0.0039,3.1745,0.058400,NaN,NaN,82.860200
4,4,0.0,2988.72,2479.90,2199.0333,909.7926,1.3204,NaN,104.2367,0.1217,...,0.004400,73.843200,0.4990,0.0103,0.0025,2.0544,0.020200,0.014900,0.004400,73.843200
5,5,0.0,3032.24,2502.87,2233.3667,1326.5200,1.5334,NaN,100.3967,0.1235,...,0.005396,97.934373,NaN,NaN,NaN,NaN,0.020200,0.014900,0.004400,73.843200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,1563,0.0,2899.41,2464.36,2179.7333,NaN,1.4843,NaN,NaN,0.1248,...,0.004700,203.172000,0.4988,0.0143,0.0039,2.8669,0.006800,0.013800,0.004700,203.172000
1564,1564,0.0,3052.31,2522.55,2198.5667,1124.6595,0.8763,NaN,98.4689,0.1205,...,0.005396,97.934373,0.4975,0.0131,0.0036,2.6238,0.006800,0.013800,0.004700,203.172000
1565,1565,0.0,2978.81,2379.78,2206.3000,1110.4967,0.8236,NaN,99.4122,0.1208,...,0.002500,43.523100,0.4987,0.0153,0.0041,3.0590,0.019700,0.008600,0.002500,43.523100
1566,1566,0.0,2894.92,2532.01,2177.0333,1183.7287,1.5726,NaN,98.7978,0.1213,...,0.007500,93.494100,0.5004,0.0178,0.0038,3.5662,0.026200,0.024500,0.007500,93.494100
1567,1567,0.0,2944.92,2450.76,2195.4444,NaN,1.5978,NaN,85.1011,0.1235,...,0.004500,137.784400,0.4987,0.0181,0.0040,3.6275,0.011700,0.016200,0.004500,137.784400

In [58]:
#Filling Nan with  mean imputation,
df_no_outlier_std_dev.fillna(df_no_outlier_std_dev.mean(),inplace=True)

In [59]:
df_no_outlier_std_dev.describe()

,ID,class,feature001,feature002,feature003,feature004,feature005,feature006,feature007,feature008,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
count,1567.00000,1567.0,1567.000000,1567.000000,1567.000000,1567.000000,1567.000000,0.0,1567.000000,1567.000000,...,1567.000000,1567.000000,1567.000000,1567.000000,1567.000000,1567.000000,1567.000000,1567.000000,1567.000000,1567.000000
mean,784.00000,0.0,3013.020327,2495.238883,2200.821168,1361.343505,1.359868,NaN,100.986738,0.122447,...,0.005201,92.226426,0.500123,0.014732,0.003718,2.945251,0.021001,0.015914,0.005100,88.188692
std,452.49825,0.0,68.544844,73.223376,27.138634,355.529217,0.492176,NaN,5.719567,0.001908,...,0.001331,32.794448,0.003318,0.005090,0.000977,1.014730,0.010845,0.007342,0.002393,64.600703
min,1.00000,0.0,2816.810000,2256.120000,2113.077800,711.025800,0.681500,NaN,83.170000,0.116000,...,0.001000,0.000000,0.490200,0.006000,0.001700,1.197500,-0.006000,0.003200,0.001000,0.000000
25%,392.50000,0.0,2967.535000,2453.800000,2181.561100,1084.377900,1.017700,NaN,98.118850,0.121100,...,0.005201,91.549650,0.497900,0.011600,0.003100,2.306500,0.013500,0.010600,0.003300,44.368600
50%,784.00000,0.0,3012.300000,2497.580000,2200.821168,1287.353800,1.317100,NaN,101.424400,0.122400,...,0.005396,97.934373,0.500200,0.013800,0.003600,2.757700,0.020600,0.014800,0.004600,72.023000
75%,1175.50000,0.0,3055.170000,2537.975000,2217.866700,1570.281700,1.529100,NaN,104.378900,0.123800,...,0.005396,97.934373,0.502350,0.016400,0.004100,3.288450,0.027500,0.019700,0.006200,107.384200
max,1567.00000,0.0,3234.240000,2735.650000,2281.566700,2637.998900,4.197013,NaN,119.354400,0.128600,...,0.011100,262.616400,0.509800,0.047100,0.009900,9.295300,0.058400,0.041200,0.013400,378.758100

In [60]:
df_no_outlier_std_dev.isnull().sum().sum()

181772

In [66]:
#drop columns of Nan values
df.dropna(axis=1)
df

,ID,class,feature001,feature002,feature003,feature004,feature005,feature007,feature008,feature009,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
1,1,0.0,3030.93,2564.00,2187.7333,1411.126500,1.3602,97.613300,0.1242,1.500500,...,0.005396,97.934373,0.500500,0.011800,0.003500,2.363000,0.021458,0.016475,0.005283,99.670066
2,2,0.0,3095.78,2465.14,2230.4222,1463.660600,0.8294,102.343300,0.1247,1.496600,...,0.006000,208.204500,0.501900,0.022300,0.005500,4.444700,0.009600,0.020100,0.006000,208.204500
3,3,0.0,2932.61,2559.94,2186.4111,1698.017200,1.5102,95.487800,0.1241,1.443600,...,0.005201,82.860200,0.495800,0.015700,0.003900,3.174500,0.058400,0.015914,0.005100,82.860200
4,4,0.0,2988.72,2479.90,2199.0333,909.792600,1.3204,104.236700,0.1217,1.488200,...,0.004400,73.843200,0.499000,0.010300,0.002500,2.054400,0.020200,0.014900,0.004400,73.843200
5,5,0.0,3032.24,2502.87,2233.3667,1326.520000,1.5334,100.396700,0.1235,1.503100,...,0.005396,97.934373,0.500123,0.014732,0.003718,2.945251,0.020200,0.014900,0.004400,73.843200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,1563,0.0,2899.41,2464.36,2179.7333,1361.343505,1.4843,100.986738,0.1248,1.342400,...,0.004700,203.172000,0.498800,0.014300,0.003900,2.866900,0.006800,0.013800,0.004700,203.172000
1564,1564,0.0,3052.31,2522.55,2198.5667,1124.659500,0.8763,98.468900,0.1205,1.433300,...,0.005396,97.934373,0.497500,0.013100,0.003600,2.623800,0.006800,0.013800,0.004700,203.172000
1565,1565,0.0,2978.81,2379.78,2206.3000,1110.496700,0.8236,99.412200,0.1208,1.462862,...,0.002500,43.523100,0.498700,0.015300,0.004100,3.059000,0.019700,0.008600,0.002500,43.523100
1566,1566,0.0,2894.92,2532.01,2177.0333,1183.728700,1.5726,98.797800,0.1213,1.462200,...,0.007500,93.494100,0.500400,0.017800,0.003800,3.566200,0.026200,0.024500,0.007500,93.494100
1567,1567,0.0,2944.92,2450.76,2195.4444,1361.343505,1.5978,85.101100,0.1235,1.462862,...,0.004500,137.784400,0.498700,0.018100,0.004000,3.627500,0.011700,0.016200,0.004500,137.784400

In [68]:
df

,ID,class,feature001,feature002,feature003,feature004,feature005,feature007,feature008,feature009,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
1,1,0.0,3030.93,2564.00,2187.7333,1411.126500,1.3602,97.613300,0.1242,1.500500,...,0.005396,97.934373,0.500500,0.011800,0.003500,2.363000,0.021458,0.016475,0.005283,99.670066
2,2,0.0,3095.78,2465.14,2230.4222,1463.660600,0.8294,102.343300,0.1247,1.496600,...,0.006000,208.204500,0.501900,0.022300,0.005500,4.444700,0.009600,0.020100,0.006000,208.204500
3,3,0.0,2932.61,2559.94,2186.4111,1698.017200,1.5102,95.487800,0.1241,1.443600,...,0.005201,82.860200,0.495800,0.015700,0.003900,3.174500,0.058400,0.015914,0.005100,82.860200
4,4,0.0,2988.72,2479.90,2199.0333,909.792600,1.3204,104.236700,0.1217,1.488200,...,0.004400,73.843200,0.499000,0.010300,0.002500,2.054400,0.020200,0.014900,0.004400,73.843200
5,5,0.0,3032.24,2502.87,2233.3667,1326.520000,1.5334,100.396700,0.1235,1.503100,...,0.005396,97.934373,0.500123,0.014732,0.003718,2.945251,0.020200,0.014900,0.004400,73.843200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,1563,0.0,2899.41,2464.36,2179.7333,1361.343505,1.4843,100.986738,0.1248,1.342400,...,0.004700,203.172000,0.498800,0.014300,0.003900,2.866900,0.006800,0.013800,0.004700,203.172000
1564,1564,0.0,3052.31,2522.55,2198.5667,1124.659500,0.8763,98.468900,0.1205,1.433300,...,0.005396,97.934373,0.497500,0.013100,0.003600,2.623800,0.006800,0.013800,0.004700,203.172000
1565,1565,0.0,2978.81,2379.78,2206.3000,1110.496700,0.8236,99.412200,0.1208,1.462862,...,0.002500,43.523100,0.498700,0.015300,0.004100,3.059000,0.019700,0.008600,0.002500,43.523100
1566,1566,0.0,2894.92,2532.01,2177.0333,1183.728700,1.5726,98.797800,0.1213,1.462200,...,0.007500,93.494100,0.500400,0.017800,0.003800,3.566200,0.026200,0.024500,0.007500,93.494100
1567,1567,0.0,2944.92,2450.76,2195.4444,1361.343505,1.5978,85.101100,0.1235,1.462862,...,0.004500,137.784400,0.498700,0.018100,0.004000,3.627500,0.011700,0.016200,0.004500,137.784400